@using EntityLayer
@model List<Slider>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        @for (var i = 1; i < Model.Count(); i++)
        {
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" aria-label="Slide @i"></button>

        }
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="@Model.ElementAt(0).resimUrl" class="d-block w-100" alt="...">
        </div>
        @for (var i = 1; i < Model.Count(); i++)
        {
            <div class="carousel-item">
                <img src=@Model.ElementAt(i).resimUrl class="d-block w-100" alt="...">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
