
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HandleError</title>
   
</head>
<body>
    <div>404 sayfa bulunamadı</div>
</body>
</html>
