
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="p-2">
    <h3>Guzergah Ekle</h3>
<form action="/Guzergah/Ekle" method="post">

    <label>Guzergah Kalkış Yeri</label>
    <input class="form-control" type="text" name="kalkisYeri" />
    <br />
    <label>Guzergah Varış Yeri</label>
    <input class="form-control" type="text" name="varisYeri" />
    <br />
    <label>Durum</label>
    <select class="form-control" name="silindi" >
            <option>False</option>
            <option>True</option>
    </select>
    <br />
    <input class="form-control btn btn-primary" type="submit" value="Ekle" />
</form>
</div>

